html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

.mainPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #85c440;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    width: 80%;
    height: 80%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-right: 1px solid gray;
}

.rightSide {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    align-items: center;
    width: 70%;
}

.containersUl {
    margin: 0;
    padding: 0;
}

.ordersUl {
    margin: 10px 30px;
    padding: 0;
}

.myLi {
    list-style: none;
    margin-bottom: 30px;
}

.button {
    padding: 10px 35px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #85c440;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.spanTitle {
    font-size: 24px;
    font-weight: 300;
}

.order {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.ordersList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}
